body {
    background: #eef9bf;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;
}

h1 {
    text-align: center;
    width: 90%;
    max-width: 550px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(27.3px + 2.6vw);
    margin: 30px 0;
    text-transform: uppercase;
    color: #75b79e;
}

.hidden {
    display: none;
}

@media (min-width: 1100px) {
    h1 {
        font-size: 56px;
    }
}