.cards {
    width: 95%;
    max-width: 910px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.cards .card {
    position: relative;
    width: 117px;
    height: 146px;
    margin: 17px;
}

.card > div {
    width: 100%;
    height: 100%;
    border: 1px solid #99cea8;
    border-radius: 5px;
    
    position: absolute;
    top: 0;
    left: 0;

    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;

    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.card .frontface {
    background-color: #a7e9af;
    background-image: url(../../img/front.png);

    cursor: pointer;
}

.flipped .frontface {
    transform: rotateY(180deg);
}

.card .backface {
    border: 1px solid black;
    background-color: white;
    background-image: url(../../img/bobrossparrot.gif);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transform: rotateY(-180deg);
}

.flipped .backface {
    transform: rotateY(0deg);
}